.titleRow {
	/*corresponds to py-3*/
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.titleBox {
	text-align: center;
}

.textRow {
	justify-content: center;
}

.yearRow {
	padding-top: 1rem;
}

.yearBox {
	text-align: center;
}

.videoRightRow {
	justify-content: flex-end;
}

.videoRightTextBox {
	text-align: right;
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-right: medium;
}

.videoRightVideoBox {
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-left: medium;
}