<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" integrity="sha256-BJ/G+e+y7bQdrYkS2RBTyNfBHpA9IuGaPmf9htub5MQ=" crossorigin="anonymous"/>
  <!-- <link rel="stylesheet" type="text/css" href="custom.css"> -->

  <title>Portfolio</title>
</head>

<!-- Content of Website -->
<body>
  <div class="container">

    <!-- Title -->
    <div class="row py-3">
      <div class="col text-center">
        <h1>Nicola Küng's Movie Reel</h1>
      </div>
    </div>

    <!-- Introduction Text -->
    <div class="row justify-content-center">
      <div class="col-6">
        Filmmaking is a process. It takes many years to develop ones style. Looking back, it's easy to be ashamed of ones beginnings. I don't feel like this. That's why I proudly present my entire portfolio of films below. Reaching back all the way to my very first experiments with cameras. Enjoy the journey!
      </div>
    </div>

    <!-- Year Tag -->
    <div class="row pt-3">
      <div class="col text-center">
        <u><h2>2019</h2></u>
      </div>
    </div>

    <!-- Videos of that Year -->
    <div class="row">
      <div class="col-6 py-3 border-right border-dark">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/3y91DINB6SQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-3 text-bottom py-3 border-left border-dark">
        <h3>ESF 2019 Aftermovie</h3>
        Compilation of the best shots taken at the biggest annual student party of Switzerland.
      </div>
    </div>

    <div class="row justify-content-end">
      <div class="col-3 text-right py-3 border-right border-dark">
        <h3>Van Diego</h3>
        My latest travel video. Shot during a ten-day road trip down the Californian Cost from San Francisco to San Diego.
      </div>
      <div class="col-6 py-3 border-left border-dark">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/sKJZCErPrOU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-6 py-3 border-right border-dark">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/t05HCla0pBA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-3 text-bottom py-3 border-left border-dark">
        <h3>Legartis – Corporate Video</h3>
        Professional shoot for a Swiss legaltech startup. Involved everything from drawing a storyboard, conducting and editing interviews to flying a drone.
      </div>
    </div>

    <!-- Year Tag -->
    <div class="row pt-3">
      <div class="col text-center">
        <u><h2>2018</h2></u>
      </div>
    </div>

    <!-- Videos of that Year -->
    <div class="row justify-content-end">
      <div class="col-3 text-right py-3 border-right border-dark">
        <h3>Autonomous Christmas Lab</h3>
        Professional shoot for my lab at uni. Only had one week for the whole job and have never been as stressed out as when all robot operators had to be performing for the same shot.
      </div>
      <div class="col-6 py-3 border-left border-dark">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/2U3zh6rCp1g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-6 py-3 border-right border-dark">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/ht7J6IaL2bE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-3 text-bottom py-3 border-left border-dark">
        <h3>Ascento</h3>
        Roll-Out video for a robotics project I worked on myself. Marked my first time shooting interviews with two cameras and working extensively with text. With around four days of production time probably my most stressful job ever.
      </div>
    </div>

    <!-- Year Tag -->
    <div class="row pt-3">
      <div class="col text-center">
        <u><h2>2016</h2></u>
      </div>
    </div>

    <!-- Videos of that Year -->
    <div class="row justify-content-end">
      <div class="col-3 text-right py-3 border-right border-dark">
        <h3>Wertschöpfung</h3>
        This video summarizes the journey of my team throughout a group project for our studies. Shot entirely on my phone but still suprisingly good quality.
      </div>
      <div class="col-6 py-3 border-left border-dark">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/f_liwqBiCnU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-6 py-3 border-right border-dark">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/A6pn6yMOST0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-3 text-bottom py-3 border-left border-dark">
        <h3>2 Interrailin' Dudes</h3>
        An 11-minute epic on an awesome interrail journey through northern Europe. Having three spare weeks, my friend and I decided to go travel all the way up to Northern Ireland and back by train.
      </div>
    </div>

    <!-- Year Tag -->
    <div class="row pt-3">
      <div class="col text-center">
        <u><h2>2015</h2></u>
      </div>
    </div>

    <!-- Videos of that Year -->
    <div class="row justify-content-end">
      <div class="col-3 text-right py-3 border-right border-dark">
        <h3>How To Make Cider</h3>
        I have this cool uncle living in New York and like every cool uncle, he makes cider by himself. And plenty of other cool stuff too. This is my little homage to his many skills.
      </div>
      <div class="col-6 py-3 border-left border-dark">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/0sWUri4r3S4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-6 py-3 border-right border-dark">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/hdlButJiKn0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-3 text-bottom py-3 border-left border-dark">
        <h3>Singapore</h3>
        I made it a habit of mine to turn travels into little movies. This one came from a short trip to Singapore with my dad.
      </div>
    </div>

    <div class="row justify-content-end">
      <div class="col-3 text-right py-3 border-right border-dark">
        <h3>RED</h3>
        What to do on a boring afternoon with your musically-talented friend over? Maybe fool around a bit with an old keyboard and stop-motion technique?
      </div>
      <div class="col-6 py-3 border-left border-dark">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/0pZpmLEurm8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-6 py-3 border-right border-dark">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/9WUMLKY7YQM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-3 text-bottom py-3 border-left border-dark">
        <h3>J&S Snowboard</h3>
        Since watching Red Bull's <i>Art of Flight</i> I've always wanted to make a Snowboard Movie. This is my poor attempt at doing so, but at least it's an attempt.
      </div>
    </div>

    <div class="row justify-content-end">
      <div class="col-3 text-right py-3 border-right border-dark">
        <h3>Galaxus Werbespot</h3>
        Probably my work with the most exposure. This clip was chosen by the company <i>Galaxus</i> as an ad and aired on national TV.
      </div>
      <div class="col-6 py-3 border-left border-dark">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/rkgQFWdTC2Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>

    <!-- Year Tag -->
    <div class="row pt-3">
      <div class="col text-center">
        <u><h2>2014</h2></u>
      </div>
    </div>

    <!-- Videos of that Year -->
    <div class="row">
      <div class="col-6 py-3 border-right border-dark">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/8cYs6IwrurQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-3 text-bottom py-3 border-left border-dark">
        <h3>6B(erlin)</h3>
        I made this crazy video after a great week in Berlin with my high school class.
      </div>
    </div>

    <div class="row justify-content-end">
      <div class="col-3 text-right py-3 border-right border-dark">
        <h3>Einheitskasse Spot</h3>
        This was my first paid shoot ever. A friend of the Swiss Socialist Party got me the job.
      </div>
      <div class="col-6 py-3 border-left border-dark">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/un8DYPIFySw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-6 py-3 border-right border-dark">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/yLoOQRkkuJk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-3 text-bottom py-3 border-left border-dark">
        <h3>Welcome To The Future</h3>
        When they asked me to promote our high school party, I had no choice but to say yes.
      </div>
    </div>

    <!-- Year Tag -->
    <div class="row pt-3">
      <div class="col text-center">
        <u><h2>2013</h2></u>
      </div>
    </div>

    <!-- Videos of that Year -->
    <div class="row justify-content-end">
      <div class="col-3 text-right py-3 border-right border-dark">
        <h3>konsequent inkonsequent</h3>
        I made this documentary as a final project for high school. By far my longest film project as of now.
      </div>
      <div class="col-6 py-3 border-left border-dark">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/49We-G_enE8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>

    <!-- Year Tag -->
    <div class="row pt-3">
      <div class="col text-center">
        <u><h2>2012</h2></u>
      </div>
    </div>

    <!-- Videos of that Year -->
    <div class="row">
      <div class="col-6 py-3 border-right border-dark">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/dFpQmXlOdYA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-3 text-bottom py-3 border-left border-dark">
        <h3>Maloney – Der Entführte</h3>
        Whenever I had the chance to make a movie during high school, I took it. This one marked the first time, where I had to manage a bunch of actors to do what I wanted them to do.
      </div>
    </div>

    <div class="row justify-content-end">
      <div class="col-3 text-right py-3 border-right border-dark">
        <h3>Los Kickeros</h3>
        Yet another attempt to make a cool snowboard movie. And definitely my last attempt at backflips. This time in collaboration with a childhood friend.
      </div>
      <div class="col-6 py-3 border-left border-dark">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/YJX0CD821cc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>

    <!-- Year Tag -->
    <div class="row pt-3">
      <div class="col text-center">
        <u><h2>2011</h2></u>
      </div>
    </div>

    <!-- Videos of that Year -->
    <div class="row">
      <div class="col-6 py-3 border-right border-dark">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe src="https://player.vimeo.com/video/375398825" width="560" height="315" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-3 text-bottom py-3 border-left border-dark">
        <h3>Einst war eine Zwiebel</h3>
        I made this video back in 2011 as a school project. To this day the longest experiment in stop-motion technique I've ever undertaken.
      </div>
    </div>

    <!-- About Me -->
    <div class="row py-3">
      <div class="col text-center">
        <h1>About Me</h1>
      </div>
    </div>

    <!-- Photo -->
    <div class="row justify-content-center pb-3">
      <div class="col-4">
        <img src="./images/me_bw.jpg" class="img-fluid rounded" alt="image of me">
      </div>
    </div>

    <!-- Outro Text -->
    <div class="row justify-content-center pb-3">
      <div class="col-6">
        When I'm not making movies, I spend my time studying Mechanical Engineering in Zurich, Switzerland. Or the other way around. Making movies has been a passion of mine long before taking up my studies though. It all started when my god-mother gifted me a video camera for Christmas at the age of twelve. Since then, I have been observing the world through the lens. Fascinated more by the recording of events rather than the events themselves. Because filmmaking has the magical ability to shape every aspect of how we perceive something. And that's what I find so dope about it.
      </div>
    </div>

    <div class="row justify-content-center pb-3">
      <div class="col-6 text-center">
        <a href="mailto:nickueng@gmail.com">
          <span class="oi oi-envelope-closed"></span>
        </a>  
      </div>
    </div>

    <!-- Copyright -->
    <div class="row justify-content-center pb-3">
      <div class="col-6 text-center">
        © 2020 Nicola Küng
      </div>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
